* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  perspective: 800px;
  /* background: red; */
}

.room {
  width: 50%;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  background: red;
  align-items: center;
  position: absolute;
  left: 25%;

}
.windows {
  max-width: 50%;
  min-width: 49%;
  min-height: 80vh;
  width: 33rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  padding: 0rem 50px;
  border-radius: 30px;
  background: yellow;
  transform-style: preserve-3d;
  position: relative;
}
.profilepic {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease-out;
}

.profilepic img {
  max-width: 110px;
  min-width: 60px;
  border-radius: 46%;
  z-index: 2;
  transition: all 1s ease-out;
}

.backofprofile {
  height: 8.5rem;
  width: 8.5rem;
  background: linear-gradient(
    to right,
    rgba(118, 68, 236, 0.815),
    rgba(122, 85, 69)
  );
  position: fixed;
  border-radius: 50%;
  z-index: 1;
}

.about h1 {
  font-size: 2rem;
  color: rgb(108, 235, 82);
  transition: all 0.7s ease-out;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 10px;
  position: relative;
}
 
.about h4 {
  transition: all 0.7s ease-out;
  font-size: 1rem;
  background: coral;
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 0.2rem 0rem;
  margin: 0px 0px 10px 0px;
  color: brown;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.tabs {
  display: flex;
  justify-content: center;
  border: none;
  transition: all 0.7s ease-out;
  flex-wrap: wrap;
}
.tabs button {
  padding:12px;
  margin: 0px 0px 0px 6px;
  background: linear-gradient(
    to left,
    rgba(163, 68, 218, 0.8),
    rgb(42, 196, 216)
  );
  border: none;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: #4d4a4a;
  border-radius: 30px;
  transition: all 0.7s ease-out;
}